@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

body{
    background: hsl(27, 66%, 92%);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container{
    margin:1rem;

    .bold-big{
        font-weight: 700;
        font-size: 1.5rem;
        color: #000;
    }

    .bold{
        font-weight: 700;
        color: #000;
    }

    >div{
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    .balance{
        background:hsl(10, 79%, 65%);
        display: flex;
        justify-content: space-between;
        
        .balance_amount{
            display: flex;
            flex-direction: column;
            span{
                color: hsl(33, 100%, 98%) !important;
            }
        }
    }

    .spending_total{
        background: hsl(33, 100%, 98%);
        .total{
            padding-top: 1rem;
            color: gray;
            .total_cal{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .total_last_month{
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                }
            }
        }
    }
}